* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, 'Avenir Next','Source Sans Pro', sans-serif;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: .012em;
    background: #f5f5f7;
    color: #1d1d1f;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    line-height: 1.5em;
}

h1 {
    font-size: 2.75rem
}

h2 {
    margin-bottom: 1.5em;
    font-size: 2.15rem
}

h3 {
    font-size: 1.5em
}

h4 {
    font-size: 1em
}

h5 {
    font-size: 0.8em
}

p {
    line-height: 1.4211;
}

#lang-selector {
    text-align: right;
}

#header {
    display: inline-block;
    padding: 100px;
    vertical-align: middle;
    font-size: 32px;
}

#header h1 {
    color: #0e90db;
}

#content {
    margin: 0 120px 50px;
    border-radius: 30px;
    background: #fff;
    z-index: 1;
}

.section {
    padding: 50px 200px 50px 50px;
}

.section:not(:last-of-type) {
    border-bottom: 1px solid #f5f5f7;
}

.content-container {
    display: flex;
    align-items: stretch;
    padding: 1em 0;
}

.heading {
    margin-bottom: 2em;
}

.heading h3 {
    margin-bottom: 0;
}

.heading p {
    margin: 0;
    color: #bbb;
}

.button {
    vertical-align: top;
    overflow: hidden;
    position: relative;
    margin-right: 10px;
    display: inline-block;
    border-radius: 10px;
    padding: 0 50px;
    background: #efefef;
    line-height: 50px;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0,0,0,0.1);
    color: #fff;
}

.button:before {
    content: "";
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .3) 100%);
    -webkit-transform: skewX(-25deg);
    transform:skewX(-25deg);
}

.button:hover:before {
    -webkit-animation: shine .75s;
    animation:shine .75s
}

.button:hover:before {
    animation-delay:200ms
}

@-webkit-keyframes shine {
    100% {
        left: 125%
    }
}

@keyframes shine {
    100% {
        left: 125%
    }
}

#resume {
    background: #f1c40f;
}

#facebook {
    background: #3b5998;
}

#instagram {
    background: #fb3958;
}

#linkedin {
    background: #0e76a8
}