:root {
    --highlight-color: #0c0c0c;
    --text-color: rgba(18, 33, 36, 0.6);
    --anchor-color: #45a3cf
}

* {
    box-sizing: border-box;
}

a {
    color: var(--anchor-color);
    text-decoration: none;
}

a:hover,
a.active {
    border-bottom: 2px solid var(--anchor-color);
}

body {
    margin: 50px;
    font-family: 'Zilla Slab', serif;
    font-size: larger;
    color: var(--text-color);
}

.card>*:first-child {
    margin-top: 0;
}

.card>*:last-child {
    margin-bottom: 0;
}

.de, .fr {
    display: none;
}